
.navbar{
    display: flex;
    justify-content: space-between;
}



ul#nav-list{
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
}


ul#nav-list li, ul#nav-list a{
    display:inline;
    text-decoration:none;
    padding: 0.5vw;
    color:black;
}


ul#nav-list a:nth-last-child(1){
    border: 2px solid blue;
    border-radius: 11px;
    margin-right: 0.2vw;
}



#header-text{
    padding: 2vw;
}


.header-image{
    width: 100%;
    max-width: 100%;
}


#middle-text{
    text-align: center;
    padding: 13vh;
}

#middle-text h2{
    padding:1.5vw;
}


.footer-text-flex{
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
}


#footer{
    border-top: 3px solid black;
    margin-top: 20vh;
}


.header-text{
    display:flex;
    justify-content: center;
    padding-top: 20%;
    left: 20rem;
    top: 10rem;
    color: white;
}
