{% extends 'base.html' %}


{% block content %}
<div class="container">
    <!-- Header Section -->
    <header class="row">
        <div class="col-md-6" id="header-text">
            <h2>Welcome to PEZ COLLECTORS UNITED!</h2>
            <h5>Connect with other PEZ collectors to buy, sell, trade and share fun stories about all things PEZ.</h5>
        
            <div>
                <button class="btn btn-primary">About us</button>
                <button class="btn btn-primary">Get Started</button>
            </div> 
            
        <!-- </div> 
            Header Image 
        <div class="col-md-6">
            <img src="../../static/images/undraw_server_status_5pbv.svg" alt="Hero Header Image" class="header-image">
        </div>
            
    </header> -->
    <!-- End of Header Section -->
    <!-- Start of Middle Section -->
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Display Your Collection</h2>
            <p>Show others what you got, and let them know what you're looking for!</p>
        </div>
    </section>
    <!-- End of Middle Section -->

    <!-- Collection of Features Section -->
    <!-- <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../../static/images/api.png" alt="API image" id="api-image">
            <h4>Dedicated API routes</h4>
            <p>If you are a fan of using traditional API routes, we have those for you!</p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../../static/images/graphql.png" alt="GraphQL Image" id="graphql-image">
            <h4>GraphQL API Route</h4>
            <p>If you want all data from one endpoint, we have that too!</p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../../static/images/db.png" alt="DB image" id="database-image">
            <h4>Backed by a PostgreSQL Database</h4>
            <p>All data will be persisted inside of a secure Postgres Database</p>
        </div>      
    </section> -->
    <!-- End of Collection of Features -->
    <!-- Start of Community Section -->
    <!-- <section class="row">
        <div class="col-12 col-md-6">
            <img src="../../static/images/undraw_drone_surveillance_kjjg.svg" alt="Drone Image" id="drone-image">
        </div>
        <div class="col-12 col-md-6">
            <h4>Talk with like minded drone collectors</h4>
            <p>
                Talk with other developers around the world and collab on projects with your data. Join our slack channel
                and give a star to the project on github. And make sure to donate to a reputable charity with all that extra money your clearly have. 
            </p>
            <div>
                <button class="btn btn-primary">View on Github</button>
                <button class="btn btn-primary">Join our Slack Channel again...</button>
            </div>

        </div> 

    </section>-->
    <!-- End of Community Section -->
    <!-- Start of Footer -->
    <footer class="row" id="footer">
        <div class="col-2">
            <img src="../../static/images/mario_pez.jpg" alt="Mario PEZ" id="mario">
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h6>Contact Us<h6>
                <p>some contact info</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h6>Help</h6>
                <p>click here for technical issues</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <p>&copyPEZ COLLECTORS UNITED</p>
        </div>

        <div class="col-2">
            <img src="../../static/images/luigi_pez.png" alt="Luigi PEZ" id="luigi">
        </div>
    </footer> 
</div>

{% endblock content %}