{% extends 'base.html'%}

{% block content %}

<div class="container">
    <div class="row">
    <header class="hero-section">
        <h3 class="header-text">Welcome, {{current_user.username}}!</h3>
    </header>
    </div>

    <div class="row" id="prof_img">
        <div class="col-12">
            <img src =../static/images/pez-candy.jpg alt="pez-candy" id="ppic">
        </div>
    </div>
</div>

<div class="container">
    <h3>Here are your profile details</h3>
    <ul class="list-group">
        <li class="list-group-item">Email: {{current_user.email}}</li>
        <li class="list-group-item">Token: {{ current_user.token }} </li> 
    </ul>
</div>

{% endblock content %}