<form method = "POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <fieldset id="name-field">
            {{ form.name.label }}            
            {{ form.name(class = "form-control", placeholder="Name") }}
        </fieldset>
        <fieldset id="series-field">
            {{ form.series.label }}            
            {{ form.series(class = "form-control", placeholder="Series") }}
        </fieldset>
        <fieldset id="description-field">
            {{ form.description.label }}            
            {{ form.description(class = "form-control", placeholder="Description") }}
        </fieldset>
        <fieldset id="price-field">
            {{ form.price.label }}            
            {{ form.price(class = "form-control", placeholder="Price") }}
        </fieldset>
        <fieldset id="value-field">
            {{ form.value.label }}            
            {{ form.value(class = "form-control", placeholder="Value") }}
        </fieldset>
        <fieldset id="year-field">
            {{ form.year_introduced.label }}            
            {{ form.year_introduced(class = "form-control", placeholder="Year Introduced") }}
        </fieldset>
        <fieldset id="retired-field">
            {{ form.retired.label }}            
            {{ form.retired() }}
        </fieldset>
        <fieldset id="package-field">
            {{ form.original_package.label }}            
            {{ form.original_package() }}
        </fieldset>
        <fieldset id="fact-field">
            {{ form.random_fact.label }}            
            {{ form.random_fact(class = "form-control", placeholder="Random Fact") }}
        </fieldset>


        {{ form.submit_button(class = "btn btn-primary btn-block mt-4") }}

    </div>   
</form>